<div class="alarms">
    <div class="row">
        <div id="avk6b1">
            <table class="table table-striped table-bordered table-condensed table-hover alarms">
                <thead>
                <tr>
                    <th>Name</th>
                    <th class="center">Active</th>
                    <th class="center">Status</th>
                    <th>Limit</th>
                </tr>
                </thead>
                <tbody>
                <tr class=" alarm">
                    <td><a href="9"></a>IAReplica table check, avk6</td>
                    <td class="center"><i class="icon-ok medium white"></i></td>
                    <td class="center"><i class="icon-ok-circle medium green"></i></td>
                    <td>
                        <div class="progress alarmBar " title="0 / 10">
                            <div class="bar" style="width: 0%;"></div>
                        </div>
                    </td>
                </tr>
                <tr class=" alarm">
                    <td><a href="11"></a>Manual Intervention, avk6</td>
                    <td class="center"><i class="icon-ok medium white"></i></td>
                    <td class="center"><i class="icon-ok-circle medium green"></i></td>
                    <td>
                        <div class="progress alarmBar " title="0 / 40">
                            <div class="bar" style="width: 0%;"></div>
                        </div>
                    </td>
                </tr>
                <tr class=" alarm">
                    <td><a href="8"></a>Mobile Provisioning not processed orders, avk6</td>
                    <td class="center"><i class="icon-ok medium white"></i></td>
                    <td class="center"><i class="icon-ok-circle medium green"></i></td>
                    <td>
                        <div class="progress alarmBar " title="3 / 100">
                            <div class="bar" style="width: 3%;"></div>
                        </div>
                    </td>
                </tr>
                <tr class=" alarm">
                    <td><a href="10"></a>Number of orders in STO, avk6</td>
                    <td class="center"><i class="icon-ok medium white"></i></td>
                    <td class="center"><i class="icon-ok-circle medium green"></i></td>
                    <td>
                        <div class="progress alarmBar " title="0 / 10">
                            <div class="bar" style="width: 0%;"></div>
                        </div>
                    </td>
                </tr>
                <tr class="addAlarm">
                    <td>Add new alarm</td>
                    <td class="center"></td>
                    <td class="center"></td>
                    <td class="center"><i class="icon-plus-sign medium white"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>